services:
  nginx:
    image: nginx:latest
    depends_on:
      - web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /root/nginx/conf.d/default.conf:/etc/nginx/nginx.conf:ro
      - certbot-etc:/etc/letsencrypt
      - webroot:/var/www/html
    networks:
      - app-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
  # One-time certificate generation
  certbot:
    image: certbot/certbot:latest
    depends_on:
      - nginx
    command: certonly --webroot --webroot-path=/var/www/html --email yaakoubbelhardi@gmail.com --agree-tos --no-eff-email --non-interactive -d mindak.agency -d www.mindak.agency -d api.mindak.agency --expand
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/lib/letsencrypt
      - webroot:/var/www/html
    networks:
      - app-network
    deploy:
      restart_policy:
        condition: none

  web:
    image: mindak_web:latest
    ports:
      - "3000:3000"
    env_file:
      - ./web/.env.local
    environment:
      NODE_ENV: production
    networks:
      - app-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  backend:
    image: mindak_backend:latest
    ports:
      - "8080:8080"
    env_file:
      - ./backend/.env
    environment:
      NODE_ENV: production
    networks:
      - app-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  db:
    image: postgres:15.6-alpine
    ports:
      - "5432:5432"
    volumes:
      - data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  minio:
    image: minio/minio:latest
    ports:
      - "9090:9000"
      - "9091:9001"
    environment:
      MINIO_ROOT_USER: "MINIO_ROOT_USER"
      MINIO_ROOT_PASSWORD: "MINIO_ROOT_PASSWORD"
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

  tusd:
    image: tusproject/tusd@sha256:060f117d224d057a5f25be79b4a4535168a0901515cc20cd02f62d0b8e623f5f
    command: |
      -verbose
      -s3-bucket tourism-bucket
      -s3-endpoint http://minio:9000
      -cors-allow-credentials
      -cors-allow-origin https://allebooking.local
      -behind-proxy=true
      -hooks-http http://backend:8080/storage/upload_callback
      -hooks-http-forward-headers Cookie
      -hooks-http-retry 1
      -port 1080
    volumes:
      - tusd:/data
    environment:
      AWS_REGION: eu-west-1
      AWS_ACCESS_KEY_ID: "MINIO_ROOT_USER"
      AWS_SECRET_ACCESS_KEY: "MINIO_ROOT_PASSWORD"
    networks:
      - app-network
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure

volumes:
  data:
  webroot:
  ssl:
  nginx-cache:
  certbot-etc:
  certbot-var:
  minio_data:
  tusd:

networks:
  app-network:
    external: true
