    color: #fff;
    font-family: Alliance Neue,sans-serif;
    --cookie-control-barBackground: #000;
    --cookie-control-barButtonBackground: #fff;
    --cookie-control-barButtonColor: #000;
    --cookie-control-barButtonHoverBackground: #333;
    --cookie-control-barButtonHoverColor: #fff;
    --cookie-control-barTextColor: #fff;
    --cookie-control-checkboxActiveBackground: #000;
    --cookie-control-checkboxActiveCircleBackground: #fff;
    --cookie-control-checkboxDisabledBackground: #ddd;
    --cookie-control-checkboxDisabledCircleBackground: #fff;
    --cookie-control-checkboxInactiveBackground: #000;
    --cookie-control-checkboxInactiveCircleBackground: #fff;
    --cookie-control-controlButtonBackground: #fff;
    --cookie-control-controlButtonHoverBackground: #000;
    --cookie-control-controlButtonIconColor: #000;
    --cookie-control-controlButtonIconHoverColor: #fff;
    --cookie-control-focusRingColor: #808080;
    --cookie-control-modalBackground: #fff;
    --cookie-control-modalButtonBackground: #000;
    --cookie-control-modalButtonColor: #fff;
    --cookie-control-modalButtonHoverBackground: #333;
    --cookie-control-modalButtonHoverColor: #fff;
    --cookie-control-modalOverlay: #000;
    --cookie-control-modalOverlayOpacity: 0.8;
    --cookie-control-modalTextColor: #000;
    --cookie-control-modalUnsavedColor: #fff;
    --sbw: 0px;
    --vh: 7.38px;
    --terra: #e49366;
    --green: #798e7b;
    --pink: #b692a1;
    --blue: #bfccd8;
    --black: #0e0e0e;
    --beige: #f1efeb;
    --grey: #666d73;
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-kerning: none;
    font-size: 1.6rem;
    pointer-events: auto;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
    bottom: 1px;
    box-sizing: border-box;
    columns: auto;
    cursor: pointer;
    right: 1px;
    background: #1a1a1a;
    border-radius: 5rem;
    height: calc(100% - 2px);
    left: 1px;
    position: absolute;
    top: 1px;
    width: calc(100% - 2px);